*{
    box-sizing:border-box;  
    font-family: 'Aria';
}
h1{
    font-size: 10rem;
}
p{
}
#short-desc{
    font-size: 100%;
} 
#card-text{
    font-size: 100%;
}

#nav{
    display: flex;
    align-self:right;
    
}

#page-content{
    padding:0;
    
}
#project2{
    display:block;
    margin:auto; 
    margin-top: 1rem;
    padding:2rem; 
    width:95%;
    border-radius: 2rem;
    
    
}
#card-gif{
    display: block;
    margin:auto; 
    width:60%;
    border-radius: 1rem;
}
#row{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

#navi{
    padding: 0;
}


#about{
    height: auto;
    width:50vw;
    display:flex;
    flex-direction: column;
    padding-top: 1rem;
    margin:auto;
    font-size: 2vh;
    flex-basis: 100%;
    flex: 1;
    
}
#about-bg{
    
    
    
    margin-top: 500px;
}
#about-body{
    
    
}
#headshot{
    width: 20vw;
    border-radius:50%;
    border: .5rem solid rgb(204, 19, 19);
    padding: .25rem;
    vertical-align: middle;
}
#selfie{
    position: relative; 
    margin:auto;
    
    
}
