:root{
    --main-bg-color:#0d1321;
    --secondary-bg-color:#1d2d44;
    --third-bg-color: #3e5c76;
    --text-bg-color: #fdfdfd;
}
body {
    background-color: var(--main-bg-color);
    color: var(--text-bg-color);
}
*{
    box-sizing:border-box;  
    color:var(--text-bg-color)
}
h1{
    font-size: 10rem;
}

#short-desc{
    font-size: 100%;
} 
#card-text{
    font-size: 100%;
}



#text{
margin: 0 10%;
}

#page-content{
    padding:0;
    
}
#project2{
    display:block;
     
   
    padding:2rem; 
    width:100%;
   
    
    
}
#card-gif{
    display: block;
    margin:auto; 
    width:60%;
    border-radius: 1rem;
    border: .5rem solid rgb(19, 29, 46);
    padding:.25rem
}


#navi{
    padding: 0;
   
    
}

#nav {
    background-color:var(--secondary-bg-color) ! important;
}
#about{
    height: auto;
    width:50vw;
    display:flex;
    flex-direction: column;
    padding-top: 1rem;
    margin:auto;
    font-size: 2vh;
    flex-basis: 100%;
    flex: 1;
    margin: auto 10%;
    
}

#headshot{
    width: 20vw;
    border-radius:50%;
    border: .5rem solid var(--third-bg-color);
    padding: .25rem;
    margin: auto;
}
#selfie{
    position: relative; 
    margin:auto;
    margin-left: 10%;
    
    
}
.spacer {
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
    
}
.spacer-proj {
    aspect-ratio:1920/200 ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
    
}

.layer1{
    background-image: url('./assets/layered-waves-haikei.svg');
   
}
.layer2{
    background-image: url('./assets/stacked-waves-haikei.svg');
   

    

}
.layer3{
   
    background-image: url('./assets/layered-waves-haikei-bottom.svg');

    

}
.layer4{
    background-image:url('/assets/layered.svg') ;
}



    



