.grid-col-span-2{
    grid-column: span 2;
}
.grid-col-span-1{
    grid-column: span 1;
}
.project-grid{
    display:grid;
    row-gap:1.5rem;
    grid-template-columns:repeat(3,1fr);


    
    width:min(100%,70rem);
    margin-inline:auto;
}
.blackground{
    border:5px solid #000;
}
#right-box-style{
    border-radius: 3px 30px 30px 3px;
}
#left-box-style{
    border-radius: 30px 3px 3px 30px;
    border-right:0;
}